In [15]:
if (!require(RJDBC)) { install.packages(RJDBC); require('RJDBC') }
if (!require(rjson)) { install.packages(rjson); require('rjson') }

# Get the connector to dremio with the class DremioQueryMakerJDBC

In [16]:
# Credencials para a conexão no Dremio
credentials <- fromJSON(file="/home/ubuntu/notebooks/files/.credentials.json")

cnct_str = paste("jdbc:dremio:direct=", credentials['host'], ":", credentials['port'], sep = "")
drv = JDBC("com.dremio.jdbc.Driver",
           "/home/ubuntu/notebooks/files/dremio-jdbc-driver-4.1.3-202001022113020736-53142377.jar")
conn = dbConnect(drv, cnct_str, credentials['uid'], credentials["pwd"])

index_query = "SELECT * FROM INFORMATION_SCHEMA.VIEWS"
index = dbGetQuery(conn, index_query)
index

  TABLE_CATALOG TABLE_SCHEMA       TABLE_NAME
1 DREMIO        covidlake-raw      brasil_io
2 DREMIO        covidlake-raw      google_trends
3 DREMIO        covidlake-raw      health_ministry
4 DREMIO        covidlake-raw      hospitals_dimension
5 DREMIO        covidlake-raw      mobility_google
6 DREMIO        covidlake-raw      wcota
7 DREMIO        PowerBI            VDS-cases-state
8 DREMIO        covidlake-raw.ipea dolar_ratio
  VIEW_DEFINITION
1 SELECT * FROM "brasil.io"
2 SELECT * FROM "google_trends.parquet"
3 SELECT * FROM health_ministry
4 SELECT * FROM "hospitals.csv"
5 SELECT * FROM "covid-raw".mobility.google."Global_Mobility_Report_Static.csv"\nWHERE "country_region" LIKE 'Brazil'
6 SELECT * FROM wcota
7   select a.state,a.city, sum(a.confirmed) as cases, "a"."date"\r\n  from "covidlake-raw"."brasil_io" as a\r\nwhere a.is_last = true\r\ngroup by a.state,a.city,"a"."date"\r\norder by 4,3 desc
8 SELECT * FROM "dolar_ratio.parquet"

# Get tables by index number

In [17]:
index_number = 2
table_name = index$TABLE_NAME[index_number]
source = index$TABLE_SCHEMA[index_number]
query = paste("SELECT * FROM \"", source, "\".\"", table_name, "\"", sep = "")
table = dbGetQuery(conn, query)
head(table)

  index TIME       Medicamento_VALUE Vacina_VALUE Sintoma_VALUE
1 0     2004-01-01 72                35           10
2 1     2004-02-01 87                NA           12
3 2     2004-03-01 84                NA           11
4 3     2004-04-01 80                NA           13
5 4     2004-05-01 93                NA           13
6 5     2004-06-01 77                NA           13
  Respirador_VALUE
1 13
2 11
3 19
4 8
5 7
6 8

# Make Free Queries

In [18]:
query = '
SELECT *
FROM "covidlake-raw"."health_ministry"
;'
table = dbGetQuery(conn, query)
head(table)

  index regiao estado date       casosNovos casosAcumulados obitosNovos
1   0   Norte  RO     2020-01-30 0          0               0
2  81   Norte  AC     2020-01-30 0          0               0
3 162   Norte  AM     2020-01-30 0          0               0
4 243   Norte  RR     2020-01-30 0          0               0
5 324   Norte  PA     2020-01-30 0          0               0
6 405   Norte  AP     2020-01-30 0          0               0
  obitosAcumulados
1 0
2 0
3 0
4 0
5 0
6 0

In [21]:
# install.packages('ggplot2')
# install.packages('DBEST')
# install.packages('dplyr')

also installing the dependencies ‘praise’, ‘colorspace’, ‘testthat’, ‘nlme’, ‘farver’, ‘labeling’, ‘munsell’, ‘RColorBrewer’, ‘viridisLite’, ‘gtable’, ‘isoband’, ‘MASS’, ‘mgcv’, ‘scales’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [27]:
library(ggplot2)
library(DBEST)
#library(dplyr)

In [29]:
install.packages('dplyr')

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done