# Get the connector to dremio with the class DremioQueryMakerODBC

In [3]:
%run /home/ubuntu/notebooks/covid-prj01-data-analysis/[UTILS]/dremio-access-new.py
dremio = DremioQueryMakerODBC()
index = dremio.getIndex()
display(index)

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,VIEW_DEFINITION
0,DREMIO,Covid-Lake,Disease_Indicator,"SELECT createdOn, identifier, valueString, val..."
1,DREMIO,Covid-Lake,hospitalizações,"SELECT * FROM ""hospitalizacoes.csv"""
2,DREMIO,Covid-Lake,Institution,SELECT * FROM logical_entity
3,DREMIO,Covid-Lake,News&Trends,SELECT * FROM logical_entity
4,DREMIO,Covid-Lake,Socioeconomic_Factors,"SELECT createdOn, clean_data_to_FLOAT(valueStr..."
...,...,...,...,...
68,DREMIO,Common Data Model.disease_indicator.wcota.stan...,Observation,"SELECT ""date"" as createdOn, 'wcota' as identif..."
69,DREMIO,Common Data Model.Institutions.hospitals_regis...,Location,"SELECT CO_UNIDADE AS organizationId, \n ..."
70,DREMIO,Common Data Model.Institutions.hospitals_regis...,Organization,"SELECT CO_UNIDADE AS organizationId, CO_CNES A..."
71,DREMIO,Common Data Model.news_trends.google_trends.st...,Observation,"SELECT ""Date"" as createdOn, CAST(Medicamento a..."
72,DREMIO,Common Data Model.socioeconomic_factors.ipeada...,Observation,"SELECT ""DATE"" as createdOn, ""VALUE"" as valueSt..."

# Get tables by index number

In [4]:
dremio.getTable(5).head()

DatabaseError: Execution failed on sql 'SELECT * FROM covidlake-raw.brasil_io': ('HY000', '[HY000] [Dremio][Connector] (1040) Dremio failed to execute the query: SELECT * FROM covidlake-raw.brasil_io\n[30038]Query execution error. Details:[ \nPARSE ERROR: Failure parsing the query.\n\nSQL Query SELECT * FROM covidlake-raw.brasil_io\nstartLine 1\nstartColumn 24\nendLine 1\nendColumn 24\nSQL Query SELECT * FROM covidlake-raw.brasil_io\n\n[Error Id: 83d6ab55-6214-43ee-b2f3-2821bba3426d on ip-172-20-0-170.ec2.internal:31010]\n\n  (org.apache.cal...[see log] (1040) (SQLExecDirectW)')

# Make Free Queries

In [5]:
query = """
SELECT estado, count(*) AS "count" 
FROM "covidlake-raw"."health_ministry" 
GROUP BY estado
;"""
counts = dremio.querySQL(query)
counts.head()

  estado  count
0     PB  26820
1     BA  47617
2     DF    303
3     AM   7631
4     CE  22853

# This connector is not yet escaping table names and paths containing -, _, or . properly

In [9]:
dremio.getTable(2).head()

DatabaseError: Execution failed on sql 'SELECT * FROM covidlake-raw.health_ministry': ('HY000', '[HY000] [Dremio][Connector] (1040) Dremio failed to execute the query: SELECT * FROM covidlake-raw.health_ministry\n[30038]Query execution error. Details:[ \nPARSE ERROR: Failure parsing the query.\n\nSQL Query SELECT * FROM covidlake-raw.health_ministry\nstartLine 1\nstartColumn 24\nendLine 1\nendColumn 24\nSQL Query SELECT * FROM covidlake-raw.health_ministry\n\n[Error Id: 890209bd-def1-4df7-92d7-724e1ab1a48c on ip-172-20-0-103.ec2.internal:31010]\n...[see log] (1040) (SQLExecDirectW)')