In [1]:
%run /home/ubuntu/notebooks/covid-prj01-data-analysis/[UTILS]/dremio-access-new.py
dremio = DremioQueryMakerODBC()
index = dremio.getIndex()
display(index)

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,VIEW_DEFINITION
0,DREMIO,Covid-Lake,Disease_Indicator,"SELECT createdOn, identifier, valueString, val..."
1,DREMIO,Covid-Lake,hospitalizações,"SELECT * FROM ""hospitalizacoes.csv"""
2,DREMIO,Covid-Lake,Institution,SELECT * FROM logical_entity
3,DREMIO,Covid-Lake,News&Trends,SELECT * FROM logical_entity
4,DREMIO,Covid-Lake,Socioeconomic_Factors,"SELECT createdOn, clean_data_to_FLOAT(valueStr..."
...,...,...,...,...
68,DREMIO,Common Data Model.disease_indicator.wcota.stan...,Observation,"SELECT ""date"" as createdOn, 'wcota' as identif..."
69,DREMIO,Common Data Model.Institutions.hospitals_regis...,Location,"SELECT CO_UNIDADE AS organizationId, \n ..."
70,DREMIO,Common Data Model.Institutions.hospitals_regis...,Organization,"SELECT CO_UNIDADE AS organizationId, CO_CNES A..."
71,DREMIO,Common Data Model.news_trends.google_trends.st...,Observation,"SELECT ""Date"" as createdOn, CAST(Medicamento a..."
72,DREMIO,Common Data Model.socioeconomic_factors.ipeada...,Observation,"SELECT ""DATE"" as createdOn, ""VALUE"" as valueSt..."

In [10]:
pd.set_option('display.max_rows', None)

In [11]:
index

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,VIEW_DEFINITION
0,DREMIO,Covid-Lake,Disease_Indicator,"SELECT createdOn, identifier, valueString, val..."
1,DREMIO,Covid-Lake,hospitalizações,"SELECT * FROM ""hospitalizacoes.csv"""
2,DREMIO,Covid-Lake,Institution,SELECT * FROM logical_entity
3,DREMIO,Covid-Lake,News&Trends,SELECT * FROM logical_entity
4,DREMIO,Covid-Lake,Socioeconomic_Factors,"SELECT createdOn, clean_data_to_FLOAT(valueStr..."
5,DREMIO,covidlake-raw,brasil_io,"SELECT *\nFROM ""brasil.io"""
6,DREMIO,covidlake-raw,cities,"SELECT * FROM ""Base Coordenadas Brasil.parquet"""
7,DREMIO,covidlake-raw,fiocruz_infogripe,SELECT * FROM fiocruz_infogripe
8,DREMIO,covidlake-raw,google_trends,"SELECT * FROM ""google_trends.parquet"""
9,DREMIO,covidlake-raw,health_ministry,SELECT * FROM health_ministry
10,DREMIO,covidlake-raw,hospitals_dimension,"SELECT * FROM ""hospitals.parquet"""
11,DREMIO,covidlake-raw,mobility_apple,SELECT * FROM apple_mobility_trends
12,DREMIO,covidlake-raw,mobility_google,"SELECT * FROM ""covid-raw"".mobility.google.""Glo..."
13,DREMIO,covidlake-raw,pebmed,SELECT * FROM pebmed
14,DREMIO,covidlake-raw,wcota,SELECT * FROM wcota
15,DREMIO,covidlake-refined,observations,"SELECT ""date"" as createdOn, 'brasil.io' as ide..."
16,DREMIO,Common Data Model.disease_indicator,global_dataset,"SELECT createdOn, identifier, valueString, val..."
17,DREMIO,covidlake-raw.ans,demandas_dos_consumidores_nip,SELECT * FROM demandas_dos_consumidores_nip
18,DREMIO,covidlake-raw.BigDataCorp,BDCnewsCOVID,"SELECT * FROM ""BDCnewsCOVID.parquet"""
19,DREMIO,covidlake-raw.BigDataCorp,treatedBDCcompanies,"SELECT STATE, CASE WHEN regexp_like(CASE WHEN ..."
20,DREMIO,covidlake-raw.BigDataCorp,treatedBDCpeople,"SELECT STATE, EMPLOYMENT_STABILITY_2020_01_01,..."
21,DREMIO,covidlake-raw.datasus,cadasto_nacional_de_estabelecimentos_de_saude_...,"SELECT * FROM ""cadasto_nacional_de_estabelecim..."
22,DREMIO,covidlake-raw.datasus,cadasto_nacional_de_estabelecimentos_de_saude_...,"SELECT * FROM ""cadasto_nacional_de_estabelecim..."
23,DREMIO,covidlake-raw.datasus,cobertura_estimada_da_populacao_residente_pela...,"SELECT * FROM ""cobertura_estimada_da_populacao..."
24,DREMIO,covidlake-raw.datasus,distribuicao_das_equipes_de_saude_da_familia_esf,"SELECT * FROM ""distribuicao_das_equipes_de_sau..."
25,DREMIO,covidlake-raw.datasus,distribuicao_de_agentes_comunitarios_de_saude_acs,"SELECT * FROM ""distribuicao_de_agentes_comunit..."
26,DREMIO,covidlake-raw.datasus,distribuicao_dos_nucles_de_apoio_a_saude_da_fa...,"SELECT * FROM ""distribuicao_dos_nucles_de_apoi..."
27,DREMIO,covidlake-raw.datasus,distribuicao_unidades_basicas_de_saude_em_func...,"SELECT * FROM ""distribuicao_unidades_basicas_d..."
28,DREMIO,covidlake-raw.datasus,distribuicao_unidaes_basicas_de_saude_existent...,"SELECT * FROM ""distribuicao_unidaes_basicas_de..."
29,DREMIO,covidlake-raw.datasus,numero_de_equipes_da_saude_da_familia_esf,"SELECT * FROM ""numero_de_equipes_da_saude_da_f..."
30,DREMIO,covidlake-raw.datasus,numero_de_equipes_de_agentes_comunitarios_de_s...,"SELECT * FROM ""numero_de_equipes_de_agentes_co..."
31,DREMIO,covidlake-raw.datasus,numero_de_unidades_basicas_de_saude_em_constru...,"SELECT * FROM ""numero_de_unidades_basicas_de_s..."
32,DREMIO,covidlake-raw.EinsteinHackathon,big-mac-source-data,"SELECT TO_DATE(""big-mac-source-data-Brazil.csv..."
33,DREMIO,covidlake-raw.EinsteinHackathon,casofull,"SELECT city, city_ibge_code, TO_DATE(""caso_ful..."
34,DREMIO,covidlake-raw.EinsteinHackathon,cestabasica,"SELECT TO_DATE(""cestabasica.csv"".""date"", 'DD-M..."
35,DREMIO,covidlake-raw.EinsteinHackathon,ICCindex,"SELECT TO_DATE(""ICC_indice_confianca_consumido..."
36,DREMIO,covidlake-raw.EinsteinHackathon,IECindex,"SELECT TO_DATE(""IEC_indice_expectativas.csv"".""..."
37,DREMIO,covidlake-raw.EinsteinHackathon,IndicadorHistoricoIPEAConsumo_Industria,SELECT CASE WHEN regexp_like(CASE WHEN regexp_...
38,DREMIO,covidlake-raw.EinsteinHackathon,IndicadorHistoricoIPEAConsumo_SetoresCNAE,SELECT CASE WHEN regexp_like(CASE WHEN regexp_...
39,DREMIO,covidlake-raw.EinsteinHackathon,IndicadorHistoricoIPEAConsumo_SetoresCNAE_Ajus...,SELECT CASE WHEN regexp_like(CASE WHEN regexp_...
40,DREMIO,covidlake-raw.EinsteinHackathon,IndicadorHistoricoIPEAConsumo_SetoresEconomia,SELECT CASE WHEN regexp_like(CASE WHEN regexp_...
41,DREMIO,covidlake-raw.EinsteinHackathon,IndiceAtividadeEconomicaBrasil,"SELECT TO_DATE(data, 'DD/MM/YYYY', 1) AS data,..."
42,DREMIO,covidlake-raw.EinsteinHackathon,IpeaDadosTrabalho,"SELECT TO_DATE(""ipea_dados_trabalho.csv"".""date..."
43,DREMIO,covidlake-raw.transparencia,bolsafamiliapagamentos,"SELECT ""MES REFERENCIA"", ""ANO REFERENCIA"", CAS..."
44,DREMIO,covidlake-raw.transparencia,bolsafamiliasaques,SELECT CASE WHEN regexp_like(CASE WHEN regexp_...
45,DREMIO,covidlake-raw.transparencia,obitos_cartorio_2019_2020,"SELECT ano, uf, LOWER(tipo_doenca) AS tipo_doe..."
46,DREMIO,covidlake-raw.transparencia,respiratory_diseases,"SELECT city, UF, skin_color, disease, ""2020"" A..."
47,DREMIO,Common Data Model.disease_indicator.brasil_io,logical_entity,"SELECT *\nFROM ""standard_entities"".Observation..."
48,DREMIO,Common Data Model.disease_indicator.brasil_io,physical_entity,"SELECT index, TO_CHAR(TO_DATE(nested_0.""date"",..."
49,DREMIO,Common Data Model.disease_indicator.health_min...,logical_entity,"SELECT *\nFROM ""standard_entities"".Observation..."
50,DREMIO,Common Data Model.disease_indicator.health_min...,physical_entity,"SELECT src2.*, location_id\nFROM (\n SELECT..."
51,DREMIO,Common Data Model.disease_indicator.wcota,logical_entity,"SELECT *\nFROM ""standard_entities"".Observation..."
52,DREMIO,Common Data Model.disease_indicator.wcota,physical_entity,"SELECT src2.*, location_id\nFROM (\n SELECT..."
53,DREMIO,Common Data Model.Institutions.hospitals_register,logical_entity,"SELECT userGroupId, name, localeId, loc.*\nFRO..."
54,DREMIO,Common Data Model.Institutions.hospitals_register,physical_entity,"SELECT nested_1.CO_UNIDADE AS CO_UNIDADE, nest..."
55,DREMIO,Common Data Model.news_trends.google_trends,logical_entity,SELECT * FROM Observation
56,DREMIO,Common Data Model.news_trends.google_trends,physical_entity,"SELECT * FROM ""google_trends.parquet"""
57,DREMIO,Common Data Model.socioeconomic_factors.ipeadata,logical_entity,SELECT * FROM Observation
58,DREMIO,Common Data Model.socioeconomic_factors.ipeadata,physical_entity,"SELECT index, ipeadata.""DATE"" AS ""DATE"", ipead..."
59,DREMIO,covidlake-raw.transparencia.AuxilioEmergencial,transparencia_auxilio_emergencial_abril,"SELECT * FROM ""abril_auxilio_emergencial.parquet"""
60,DREMIO,covidlake-raw.transparencia.AuxilioEmergencial,transparencia_auxilio_emergencial_julho,"SELECT * FROM ""julho_auxilio_emergencial.parquet"""
61,DREMIO,covidlake-raw.transparencia.AuxilioEmergencial,transparencia_auxilio_emergencial_junho,"SELECT * FROM ""julho_auxilio_emergencial.parquet"""
62,DREMIO,covidlake-raw.transparencia.AuxilioEmergencial,transparencia_auxilio_emergencial_maio,"SELECT * FROM ""maio_auxilio_emergencial.parquet"""
63,DREMIO,Common Data Model.disease_indicator.brasil_io....,Location,"SELECT location_id as locationId, '' as addres..."
64,DREMIO,Common Data Model.disease_indicator.brasil_io....,Observation,"SELECT ""date"" as createdOn, 'brasil.io' as ide..."
65,DREMIO,Common Data Model.disease_indicator.health_min...,Location,"SELECT location_id as locationId, '' as addres..."
66,DREMIO,Common Data Model.disease_indicator.health_min...,Observation,"SELECT ""date"" as createdOn, 'health_ministry' ..."
67,DREMIO,Common Data Model.disease_indicator.wcota.stan...,Location,"SELECT location_id as locationId, country as a..."
68,DREMIO,Common Data Model.disease_indicator.wcota.stan...,Observation,"SELECT ""date"" as createdOn, 'wcota' as identif..."
69,DREMIO,Common Data Model.Institutions.hospitals_regis...,Location,"SELECT CO_UNIDADE AS organizationId, \n ..."
70,DREMIO,Common Data Model.Institutions.hospitals_regis...,Organization,"SELECT CO_UNIDADE AS organizationId, CO_CNES A..."
71,DREMIO,Common Data Model.news_trends.google_trends.st...,Observation,"SELECT ""Date"" as createdOn, CAST(Medicamento a..."
72,DREMIO,Common Data Model.socioeconomic_factors.ipeada...,Observation,"SELECT ""DATE"" as createdOn, ""VALUE"" as valueSt..."

In [8]:
query = """
SELECT *
FROM "covidlake-raw.transparencia.AuxilioEmergencial"."transparencia_auxilio_emergencial_julho"
limit 10
;"""
counts = dremio.querySQL(query)
counts.head()

DatabaseError: Execution failed on sql '
SELECT *
FROM "covidlake-raw.transparencia.AuxilioEmergencial"."transparencia_auxilio_emergencial_julho"
limit 10
;': ('HY000', '[HY000] [Dremio][Connector] (1040) Dremio failed to execute the query: \nSELECT *\nFROM "covidlake-raw.transparencia.AuxilioEmergencial"."transparencia_auxilio_emergencial_julho"\nlimit 10\n;\n[30038]Query execution error. Details:[ \nPLAN ERROR: Error while expanding view "covidlake-raw".transparencia.AuxilioEmergencial.transparencia_auxilio_emergencial_julho\n\nView SQL SELECT * FROM "julho_auxilio_emergencial.parquet"\n\n[Error Id: f02a6b6b-66b5-...[see log] (1040) (SQLExecDirectW)')